middleware/src/main/resources/application.properties
frontend/app/.firebase
middleware/.env
.vscode
.idea
.quarkus
.DS_Store
.env
middleware/db/local_dev_*.sql
middleware/db/local_dev_*.dump
tmp_*.json
