// app global css in SCSS form

@font-face {
  font-family: "Playfair Display";
  src: url("./font/PlayfairDisplay.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


html, body
{
  font-family: "Fira Code", monospace;
}

.q-icon {
  color: $color-text;
}
