// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #222e57;
$secondary: #42c1a6;
$accent: #9c27b0;
$tab-accent: #e5faf4;
$amber: #ffc107;

$bar-background: #f5f7fa;
$bar-primary: #ff6236;
$bar-accent: #a7a7a8;

$card-background: #222e57;
$card-blue: #009ddd;

$dark: #4f4f4f;
$color-text: #777;

$positive: #2da649;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;

$font-playfair: "Playfair Display", serif;
