version: '3.8'
name: middleware-pdf-reader

services:
  pdf-reader-quarkus:
    build:
      context: . # Path to the directory containing the Dockerfile
      dockerfile: src/main/docker/Dockerfile.jvm
    ports:
      - "8080:8080"
    environment:
      OPENAI_MODEL: gpt-3.5-turbo-0125
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      QUARKUS_LOG_LEVEL: INFO
      QUARKUS_HTTP_CORS: true
      QUARKUS_HTTP_CORS_ORIGINS: ${QUARKUS_HTTP_CORS_ORIGINS}
      QUARKUS_HTTP_CORS_HEADERS: ${QUARKUS_HTTP_CORS_HEADERS}
      QUARKUS_HTTP_CORS_EXPOSED_HEADERS: ${QUARKUS_HTTP_CORS_EXPOSED_HEADERS}
      QUARKUS_HTTP_CORS_ACCESS_CONTROL_ALLOW_CREDENTIALS: true
      QUARKUS_HTTP_CORS_METHODS: GET,POST,PUT,PATCH,DELETE,OPTIONS
      QUARKUS_HTTP_PORT: 8080
      QUARKUS_HTTP_AUTH_BASIC: true
      QUARKUS_NATIVE_ADDITIONAL_BUILD_ARGS: ${QUARKUS_NATIVE_ADDITIONAL_BUILD_ARGS}
    user: "1001"
    networks:
      - app-network
    deploy:
      restart_policy:
        condition: on-failure

networks:
  app-network:
    driver: bridge # mostly for development
